{% extends "layout.html" %}
{% block js %}
<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"aisk"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说js加载结束，一个页面只需要加载一次 -->
{% endblock %}
{% block content %}
{% for post in posts %}
<article>
  <header class="entry-header">
    <div class="date">
      <div class="day">{{post.date.day}}</div>
      <div class="month">{{post.date.strftime('%b')}}</div>
    </div>
    <h2 class="title"><a href="/post/{{post.filename}}">{{ post.title }}</a></h2>
    <div class="meta">
      <a href="/post/{{post.filename}}#comments">
        <span class="comment-num ds-thread-count" data-thread-key="{{post.filename}}" data-count-type="comments"></span>
      </a>
    </div>  
  </header>
  <section class="body">
    {{ post.content }}
  </section>
  <footer>
    <div class="tags">
      <div style="clear: both;"></div>
    </div>
  </footer>
</article>
{% endfor %}
{% endblock %}
