{% extends "layout.html" %}
{% block title %}{{post.title}} - 艾斯昆的博客{% endblock %}
{% block content %}
<article>
  <header class="entry-header">
    <div class="date">
      <div class="day">{{post.date.day}}</div>
      <div class="month">{{post.date.strftime('%b')}}</div>
    </div>
    <h2 class="title">{{ post.title }}</h2>
    <div class="meta">  
      <a href="/post/{{post.post_id}}#comments">
        <span class="comment-num ds-thread-count" data-thread-key="{{post.post_id}}" data-count-type="comments"></span>
      </a>
    </div>
  </header>
  <section class="body">
    {{ post.content }}
  </section>
  <footer>
    <div class="tags">
      <div style="clear: both;"></div>
    </div>
    <div id="comments">
      <!-- Duoshuo Comment BEGIN -->
      <div class="ds-thread" data-thread-key="{{post.post_id}}" data-title="{{post.title}}"></div>
      <!-- Duoshuo Comment END -->
    </div>
  </footer>
</article>
{% endblock %}
